# Supabase project url and public key
SUPABASE_URL="https://obnbgnmdrpxoutfuenoi.supabase.co"
SUPABASE_KEY="sb_publishable_6I_DGoBbouQn9HHtzvVZpA_h62vQyd-"

# PostHog credentials
POSTHOG_PROJECT_TOKEN=<ph_project_token>
POSTHOG_HOST=https://us.i.posthog.com
